[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycryptodome = "*"
requests = "*"
bleach = "*"
pybakalib = { git = "https://github.com/vakabus/pybakalib.git" }
xmltodict = "*"
pytz = "*"
redis = "*"
Django = "*"

[requires]
python_version = "3.7"
