{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">BakaNotifikace emailem</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Registrace emailových notifikací zahájena</h2>
        </header>
        <div class="post-description">
            <p> Na email by Vám měla přijít zpráva o registraci. Klikněte na v ní na odkaz pro dokončení. Pokud Vám nic
                nepřišlo, zkontrolujte složku se spamem.</p>
        </div>
    </section>
</div>
{% endblock %}

