{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">BakaNotifikace</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">RSS</h2>
        </header>
        <div class="post-description">
            <p>
                RSS sice není nejnovější způsob upozorňování na novinky, ale na rozdíl od jiných způsobů funguje vždy a
                všude. Stačí si nainstalovat klientskou aplikaci (na mobil nebo i na PC, výběr je obrovský) a již nikdy
                se nestane, že si nevšimnete něčeho důležitého.
            </p>
            <p>
                Na <b>Android</b> mohu doporučit open-source aplikaci <a
                    href="https://play.google.com/store/apps/details?id=org.indywidualni.fnotifier">fNotifier</a>, která
                při nových událostech vyhazuje notifikaci. Je spolehlivá a konfigurace je velmi přímočará.
            </p>
            <p>Váš soukromý RSS kanál můžete nalézt <a href="{% url 'feed' %}?url={{ url }}&token={{ token }}">zde</a>.
            </p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">PushBullet</h2>
        </header>
        <div class="post-description">
            <p><a href="https://pushbullet.com/">PushBullet</a> je skupina programů umožňující přenos notifikací z
                mobilu na počítač. Umožňuje ale také posílat notifikace na známá zařízení, čehož BakaNotifikace
                využívájí. Tato metoda notifikací spotřebovává daleko méně dat než RSS kanál, takže je vhodná pro lidi s
                malým FUPem nebo hodně pomalým internetem.</p>
            <p>Pokud chcete využívat BakaNotifikace přes PushBullet, tak jediné co potřebujete je klíč k API. To je
                řetězec náhodných znaků, který se dá získat v nastavení na webu. Vytvořite ho stisknutím tlačítka
                `Create Access Token`. Vložte ho pak dole do formuláře a po odeslání následujte instrukce.</p>
            {% if not registered.pushbullet %}
            <form class="pure-form" action="{% url 'register_pushbullet' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <input type="text" name="apiKey" placeholder="API key">
                    <button type="submit" class="pure-button pure-button-primary">Začít</button>
                </fieldset>
            </form>
            {% else %}
            <form method="post" action="{% url 'register_pushbullet' %}">
                {% csrf_token %}
                <input type="hidden" name="unsubscribe" value="1">
                <button class="pure-button pure-button-primary" type="submit">Odhlásit</button>
            </form>

            {% endif %}
        </div>
    </section>
</div>
{% endblock %}

