{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">Dostupné nástroje</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Prospěch++</h2>
        </header>
        <div class="post-description">
            <p>
                Sledování vlastního prospěchu nikdy nebylo lehčí. Vadí Vám neresponzivní design Bakalářů nebo
                komplikovaný interface? Chybí Vám u průměry u všech předmětů? Tak potom je toto software přímo pro Vás.
            </p>
            <p>
                Vážené průměry jsou nabízeny ke všem předmětům a to i ve školách, kde to není globálně povoleno. A
                zajímalo by Vás, jak se průměr změní po čtyřce z nadcházející písemky? Není problém, spočítat to je
                hračka.
            </p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">BakaNotifikace</h2>
        </header>
        <div class="post-description">
            <p>
                Zpříjemnit interface je jedna věc, ale stále Vás to nutí něco ručně kontrolovat, nejlépe každý den.
                Proč se ale nenechat na novinky upozorňovat na mobilu? Zatím sice jen pomocí RSS, ale již brzy bude
                přidán chatbot na populární služby.
            </p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Tester</h2>
        </header>
        <div class="post-description">
            <p>
                Tester nepatří přímo k nástrojům pro práci s Bakaláři, ale rozhodně Vám pomůže se nabiflovat slovíčka na
                jazyky, poznávačky živočichů na biologii a podobné jinak nudné věci. Jak to dělá? Pořád dokola Vás
                zkouší a neúprosně kontroluje všechny chyby. Když odpovíte na otázku správně, již se Vás na ni v celém
                následujícím kole nezeptá.
            </p>
        </div>
    </section>
</div>
{% endblock %}

