{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">Dostupné nástroje</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Přehled známek</h2>
        </header>
        <div class="post-description">
            <p>
                Sledování vlastního prospěchu nikdy nebylo lehčí. Přehledně zobrazený vážený průměr známek bez nutnosti cokoliv počítat nebo něco někam kopírovat. Zjišťování, jak se průměr změní při škrtnuté známce nebo po nadcházejícím testu. Obě dvě věci jsou v této webové aplikaci přístupné po pouhém přihlášení. A to pro úplně všechny školy používající informační systém Bakaláři.
            </p>
            <p>
                Hned druhou nejdůležitější věcí po známkách je komunikace se školou. Proto se vám hned vedle tabulky s průměry zobrazí poslední zprávy a novinky zasílané přes Bakaláře. Díky tomuto a skvělé naší notifikační službě se Vám již nikdy nestane, že si nevšimnete nějaké důležité zprávy od učitelů.
            </p>
            <p>A pokud Vám nebudou stačit funkce této webové aplikace, stačí jedno kliknutí a jste automaticky přihlášeni na Vašem školním webu.</p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Notifikace</h2>
        </header>
        <div class="post-description">
            <p>
                Zpříjemnit rozhraní a počítat průměry je jedna věc, ale stále Vás to nutí Bakaláře ideálně každý den kontrolovat. Jak by jste se jinak dozvěděli o nové známce nebo zprávě? Není čeho se bát, BakaNotifikace Vám umožní toto zautomatizovat. Při každé změně budete upozornění emailem, svojí oblíbenou RSS čtečkou nebo třeba pomocí aplikace PushBullet.
            </p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Tester</h2>
        </header>
        <div class="post-description">
            <p>
                Tester nepatří přímo k nástrojům pro práci s Bakaláři, ale rozhodně Vám pomůže se nabiflovat slovíčka na jazyky, poznávačky živočichů na biologii a podobné jinak nudné věci. Jak to dělá? Pořád dokola Vás zkouší a neúprosně kontroluje všechny chyby. Nikdy se neunaví a zobrazuje Vám podmanivě, jak moc to stále neumíte. S přestávkami je tak reálné se za 2 hodiny naučit 100 termínů na zpamět! Ale pozor, bez opakování to velmi rychle zapomenete!
            </p>
        </div>
    </section>
</div>
{% endblock %}

