<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bakaláři přívětivě - vážené průměry, upozoňování na novinky">

    <title>{% block title %}Bakaweb.tk{% endblock %}</title>


    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'pure-release-1.0.0/pure-min.css' %}">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'pure-release-1.0.0/grids-responsive-old-ie-min.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static 'pure-release-1.0.0/grids-responsive-min.css' %}">
    <!--<![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/static/icons/manifest.json" />
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#fefefe" />
    <link rel="shortcut icon" href="/static/icons/favicon.ico" />
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description"
          content="BAKALÁŘI PŘÍVĚTIVĚ - Zpříjemněte si práci se systémem Bakaláři. Nechte si spočítat vážené průměry známek na všech školách nebo si nechte posílat upozornění na změny v systému." />
    <meta name="keywords" content="Bakaláři,průměr,vážený průměr,prospěch,notifikace,známky,bakaweb" />
    <meta name="author" content="Václav Šraier" />

    {% block head%}{% endblock %}
</head>
<body>


<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header" style="margin-top: 16px">
            {% if logged_in %}
            <div>
                <h2 class="brand-title" style="font-size: 1.2em">{{ account.name }}</h2>
                <ul style="list-style-type: none; margin-top: 4px">
                    <li>{{ account.school }}</li>
                    {% if account.password != None and account.password != "" %}
                    <li class="nav-item">
                        <form action="{{ account.login_url }}" method="post">
                            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value=""/>
                            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value=""/>
                            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value=""/>
                            <input name="ctl00$cphmain$Loginname1" type="hidden" value=""/>
                            <input name="ctl00$cphmain$Loginname2" type="hidden" value=""/>
                            <input name="ctl00$cphmain$Loginname" type="hidden" value="{{ account.username }}"/>
                            <input name="ctl00$cphmain$TextBoxHeslo" type="hidden" value="{{ account.password }}"/>
                            <button name="ctl00$cphmain$ButtonPrihlas" value="Přihlásit" class="pure-button"
                                    type="submit">Bakaláři
                            </button>
                        </form>
                    </li>
                    {% endif %}
                    <li class="nav-item"><a class="pure-button" href="{% url 'logout' %}">Odhlásit</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="header">
            <h1 class="brand-title">Bakaláři přívětivě</h1>
            <h2 class="brand-tagline">Zpříjemněte si práci se systémem Bakaláři</h2>
            <nav class="nav">
                <ul class="nav-list">
                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'dashboard' %}">Přehled</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'notifications' %}">Notifikace</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="pure-button" href="{% static 'tester/tester.html' %}">Tester</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'index' %}?force">O aplikaci</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        {% if not logged_in %}
        <div>
            <h1 class="content-subhead">Přihlášení (<a href="{% url 'privacy_policy' %}">o zpracování osobních údajů</a>)
            </h1>
            <form class="pure-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <fieldset class="pure-g">
                    {{ login_form }}
                    <button type="submit" class="pure-u-1 pure-u-md-1-4 pure-button pure-button-primary">Přihlásit
                    </button>
                </fieldset>
            </form>
            <script>
                var u = document.getElementById('login_url');
                u.onchange = function () {
                    if (u.value.indexOf('http') != 0) u.value = 'https://' + u.value
                }
            </script>
            {% if login_failed %}
            <p style="color: red">Přihlášení se nepodařilo</p>
            {% endif %}
        </div>
        {% endif %}
        <div>
            {% block content%}{% endblock %}

            <div class="footer">
                <div class="footer-list">
                    <ul>
                        <li class="footer-item"><a href="http://purecss.io/" class="pure-menu-link">PureCSS</a></li>
                        <li class="footer-item"><a id="mailto-link" class="pure-menu-link">&copy; 2018 Václav
                            Šraier</a></li>
                        <li class="footer-item"><a href="https://github.com/vakabus/pybakalib"
                                                   class="pure-menu-link">Based on pybakalib</a>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript" language="javascript">
                <!--
                // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
                // This code is freeware provided these four comment lines remain intact
                // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                {
                    coded = "RgyS5b:cgzgJ6c.5z@pgzgcfk.xw";
                    key = "O2DwHBGjXkpcmyunYoF6gVt74NKI3lWJ0MTP1z9xRqfsvbAiEU5dCearQShZL8";
                    shift = coded.length;
                    link = "";
                    for (i = 0; i < coded.length; i++) {
                        if (key.indexOf(coded.charAt(i)) == -1) {
                            ltr = coded.charAt(i);
                            link += (ltr)
                        }
                        else {
                            ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
                            link += (key.charAt(ltr))
                        }
                    }
                    document.getElementById('mailto-link').href = link;
                }
                //-->


            </script>
        </div>
    </div>
</div>
</body>
</html>
