{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">Ochrana osobních údajů</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Běžné přihlášení</h2>
        </header>
        <div class="post-description">
            <p>
                Přihlášením na web předáváte své přihlašovací údaje na zpracování tomuto serveru. Dlouhodobě jsou však
                uloženy pouze ve Vašem prohlížeči ve formě cookie, server k nim má přístup pouze po dobu zpracování
                Vašeho požadavku. Kliknutím na tlačítko odhlásit jsou údaje odstraňeny i z Vašeho prohlížeče.
            </p>
            <p>
                Vyhrazujeme si právo trvale zaznamenávat informace o přístupu a využívání těchto webových stránek.
                Záznamy jsou uloženy pod ID tvořeným kryptografickým hashem Vašeho uživatelského jména a hesla, takže
                můžeme detekovat opakované přístupy, ale nemůžeme zpětně zjistit, kdo to byl. A pokud si změníte heslo,
                není možné Vás spojit ani s předchozími návštěvami. Ukládané informace neobsahují žádné osobní údaje
                kromě jména školy. Toto děláme kvůli analýze návštěvnosti těchto webových stránek a způsobu jejich
                využívání.
            </p>
        </div>
        <header class="post-header">
            <h2 class="post-title">BakaNotifikace</h2>
        </header>
        <div class="post-description">
            <p>
                Vzhledem k tomu, že novinky jsou po registraci na BakaNotifikace kontrolovány serverem, je nutné trvalé
                uložení přihlašovacích údajů. Hesla nejsou přímo uložena, používáme hash SHA512 na vygenerování
                přihlašovacího tokenu, kterým dokáží Bakaláři identifikovat přihlašovanou osobu. Tento token není
                použitelný k přístupu do webového rozhraní Bakalářů, ale dá se s ním dostat ke stejným informacím, ke
                kterým přistupuje mobilní aplikace Bakalářů na Androidu.
            </p>
            <p>
                Odhlášením z BakaNotifikací se přihlašovací token smaže. Také změnou hesla v systému Bakaláři přestane
                být token platný.
            </p>
        </div>
    </section>
</div>
{% endblock %}

