{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">Stav projektu bakaweb.tk</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Běžné přihlášení</h2>
        </header>
        <div class="post-description">
            <p>
                Přihlášením na web předáváte své přihlašovací údaje na zpracování tomuto serveru. Dlouhodobě jsou však
                uloženy pouze ve Vašem prohlížeči ve formě cookie, server k nim má přístup pouze po dobu zpracování
                Vašeho požadavku. Kliknutím na tlačítko odhlásit jsou údaje odstraňeny i z Vašeho prohlížeče.
            </p>
            <p>
                Vyhrazujeme si právo trvale zaznamenávat informace o přístupu a využívání těchto webových stránek.
                Záznamy jsou uloženy pod ID tvořeným kryptografickým hashem Vašeho uživatelského jména a hesla, takže
                můžeme detekovat opakované přístupy, ale nemůžeme zpětně zjistit, kdo to byl. A pokud si změníte heslo,
                není možné Vás spojit ani s předchozími návštěvami. Ukládané informace neobsahují žádné osobní údaje
                kromě jména školy. Toto děláme kvůli analýze návštěvnosti těchto webových stránek a způsobu jejich
                využívání.
            </p>
        </div>
        <header class="post-header">
            <h2 class="post-title">Rozbité notifikace</h2>
        </header>
        <div class="post-description">
            <p>
                Na začátku tohoto školního roku začal server rozesílat obrovská množství upozornění, že se na Bakalářích
                objevili nějaké novinky. Vzhledem k nevelké využívanosti této služby nebylo zasaženo mnoho lidí, ale to
                rozhodně neznamená, že by mne to nemrzelo. Chtěl bych se tímto všem zasaženým omluvit.
            </p>
            <p>
                Hloupé je, že pou
            </p>
        </div>
    </section>
</div>
{% endblock %}

