{% extends "bakalari/layout.html" %}

{% block content%}
<div class="posts">
    <h1 class="content-subhead">Stav projektu bakaweb.tk</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Čas, energie a motivace</h2>
        </header>
        <div class="post-description">
            <p>
                Správa tohoto webu není běžně zas tak moc náročná. Ale něco času to stojí. Taky mne to stojí nějaké
                peníze, servery neběhají úplně na vzduch. Navíc jsem již skoro před dvěma lety odmaturoval a bakaweb.tk
                přestala být služba, kterou bych vyvíjel hlavně pro sebe a mé blízké. Přestal jsem tak k webu mít
                nějakou vazbu a moc mne teď nebaví se o něj starat.
            </p>
            <p>
                Co tohle znamená pro vás, pro uživatele? Prodlužují se výpadky, protože si jich nevšimnu. Projekt se
                nikam nevyvíjí, pouze tlí. Dlouhou dobu už nebyly žádné nové funkce, pravděpodobně ani nebudou. Je mi to
                líto, ale projekt se pro mne stává spíše přítěží. Pokud se něco rozbije, spíše to zůstane rozbité (viz
                notifikace popsané níže). Server vypínat v nejbližší době neplánuji. Chápu, jak moc se hodí vám.
                Ale jednoho dne se může stát, že už se nepřihlásíte, že se webovka vůbec nenačte. Je potřeba s tím
                počítat...
            </p>
            <p>
                Nechci nechat tenhle projekt umřít. Přeci jen jsem do něj nalil spoustu svého času a dost mne to i
                bavilo. Navíc sem chodí každý týden pár stovek lidí (pokud nejsou prázdniny) a já ze své zkušenosti vím,
                že znát průměry známek opravdu chcete. Pokud by vás napadlo, jak projekt zachránit, napište mi! Pokud
                byste někdo byl ochotný se o vše starat, rád to předám dál.
            </p>
        </div>
        <header class="post-header">
            <h2 class="post-title">Rozbité rozesílání upozornění na novinky</h2>
        </header>
        <div class="post-description">
            <p>
                Na začátku tohoto školního roku začal server rozesílat obrovská množství upozornění, že se na Bakalářích
                objevili nějaké novinky. Vzhledem k nevelké využívanosti této služby nebylo zasaženo mnoho lidí, ale to
                rozhodně neznamená, že by mne to nemrzelo. Chtěl bych se tímto všem zasaženým omluvit.
            </p>
            <p>
                Díky tomuto incidentu a množství času, který jsem schopen správě věnovat, jsem byl donucen tuto službu
                zrušit. Doufám, že Vám aspoň nějakou dobu dobře sloužila.
            </p>
        </div>
        <header class="post-header">
            <h2 class="post-title">Technikálie</h2>
        </header>
        <div class="post-description">
            <p>
                Vše je napsáno v Pythonu, v Djangu. Základem logiky je open source knihovna pybakalib, kterou jsem
                napsal. Vše ostatní je postavené na ní. Server běží v Docker kontejneru na VPSce někde v datacentru.
            </p>
        </div>
    </section>
</div>
{% endblock %}

